pip==25.2
setuptools==80.9.0
zipp==3.23.0
jupyter_core==5.9.1
rpds-py==0.30.0
terminado==0.18.1
ihighlight==1.0.0
rfc3986-validator==0.1.1
pure_eval==0.2.3
ImageIO==2.37.2
dill==0.4.0
prompt_toolkit==3.0.52
httpx==0.28.1
cmake==4.1.3
jupyter-console==6.6.3
jsonschema==4.25.1
torchcodec==0.5
nbclient==0.10.2
h11==0.16.0
mistune==3.1.4
pydantic==2.12.5
jupyter_server_terminals==0.5.3
arrow==1.4.0
av==15.1.0
python-xlib==0.33
mergedeep==1.3.4
ipywidgets==8.1.8
sentry-sdk==2.47.0
matplotlib-inline==0.2.1
jupyterlab_pygments==0.3.0
toml==0.10.2
multidict==6.7.0
jupyter-lsp==2.3.0
imageio-ffmpeg==0.6.0
babel==2.17.0
typing-inspection==0.4.2
jsonschema-specifications==2025.9.1
isoduration==20.11.0
aiosignal==1.4.0
rfc3987-syntax==1.1.0
psutil==7.1.3
einops==0.8.1
argon2-cffi==25.1.0
aiohttp==3.13.2
pyyaml-include==1.4.1
nbformat==5.10.4
multiprocess==0.70.16
inquirerpy==0.3.4
click==8.3.1
asttokens==3.0.1
draccus==0.10.0
ipython==9.8.0
pexpect==4.9.0
deepdiff==8.6.1
xxhash==3.6.0
rerun-sdk==0.26.2
pandocfilters==1.5.1
jedi==0.19.2
mypy_extensions==1.1.0
orderly-set==5.5.0
async-lru==2.0.5
fqdn==1.5.1
fastjsonschema==2.21.2
uri-template==1.3.0
GitPython==3.1.45
aiohappyeyeballs==2.6.1
jupyterlab==4.5.0
protobuf==6.33.1
evdev==1.9.2
anyio==4.12.0
requests==2.32.5
argon2-cffi-bindings==25.1.0
typing-inspect==0.9.0
charset-normalizer==3.4.4
webcolors==25.10.0
pyzmq==27.1.0
comm==0.2.3
notebook==7.5.0
defusedxml==0.7.1
jupyter-events==0.12.0
cloudpickle==3.1.2
propcache==0.4.1
jupyter_client==8.6.3
ptyprocess==0.7.0
widgetsnbextension==4.0.15
importlib_metadata==8.7.0
urllib3==2.6.0
frozenlist==1.8.0
websocket-client==1.9.0
pydantic_core==2.41.5
jupyterlab_server==2.28.0
json5==0.12.1
certifi==2025.11.12
ipykernel==7.1.0
nbconvert==7.16.6
decorator==5.2.1
gymnasium==1.2.2
jupyterlab_widgets==3.0.16
notebook_shim==0.2.4
accelerate==1.12.0
pyarrow==22.0.0
regex==2025.11.3
parso==0.8.5
tinycss2==1.4.0
jupyter_server==2.17.0
debugpy==1.8.17
lark==1.3.1
tokenizers==0.21.4
annotated-types==0.7.0
idna==3.11
yarl==1.22.0
jupyter==1.1.1
diffusers==0.35.2
gitdb==4.0.12
termcolor==3.2.0
bleach==6.3.0
beautifulsoup4==4.14.3
attrs==25.4.0
pyserial==3.5
tornado==6.5.2
opencv-python-headless==4.12.0.88
rfc3339-validator==0.1.4
referencing==0.37.0
python-json-logger==4.0.0
numpy==2.2.6
pfzy==0.3.4
platformdirs==4.5.1
executing==2.2.1
smmap==5.0.2
httpcore==1.0.9
pynput==1.8.1
nest-asyncio==1.6.0
hf-xet==1.2.0
cffi==2.0.0
ipython_pygments_lexers==1.1.1
stack-data==0.6.3
wcwidth==0.2.14
jsonpointer==3.0.0
prometheus_client==0.23.1
safetensors==0.7.0
datasets==4.1.1
soupsieve==2.8
transformers==4.53.3
jsonlines==4.0.0
webencodings==0.5.1
Send2Trash==1.8.3
traitlets==5.14.3
huggingface-hub==0.35.3
hf_transfer==0.1.9
lerobot==0.4.1
wandb==0.21.4
pycparser==2.23
Farama-Notifications==0.0.4
Jinja2==3.1.6
iniconfig==2.1.0
apex==1.7.0a0+rocm7.0.0.git20a62dc5
matplotlib==3.10.6
tzdata==2025.2
pytorch-triton-rocm==3.3.1+rocm7.0.0.git9c7bc0a3
pyparsing==3.2.4
Pygments==2.19.2
fsspec==2025.9.0
pytest==8.4.2
cycler==0.12.1
networkx==3.5
python-dateutil==2.9.0.post0
MarkupSafe==3.0.2
six==1.17.0
pluggy==1.6.0
sympy==1.14.0
torchaudio==2.7.1+rocm7.0.0.git95c61b41
fonttools==4.60.0
packaging==25.0
tqdm==4.67.1
PyYAML==6.0.2
pillow==11.3.0
filelock==3.19.1
cxxfilt==0.3.0
contourpy==1.3.3
pytz==2025.2
typing_extensions==4.15.0
kiwisolver==1.4.9
torchvision==0.22.1+rocm7.0.0.git59a3e1f9
pandas==2.3.2
torch==2.7.1+rocm7.0.0.lw.git698b58a9
mpmath==1.3.0
lerobot==0.4.1
